 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .heading{
    color: purple;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    margin: 30px 0;
    text-align: center;
} */

.img_wrapper{
    justify-content: center;
    display: flex;
}

.img_wrapper img{
    width: 300px;
    height: 250px;
} 